{% extends "index.html" %}
{% block content %}
<h2 class="my-5">Articles</h2>
<div class="row text-center">
    <div class="col-1"></div>
    <div class="col-2 p-3 border">id</div>
    <div class="col-2 p-3 border">title</div>
    <div class="col-2 p-3 border">body</div>
    <div class="col-2 p-3 border">author</div>
    <div class="col-2 p-3 border">date</div>
    <div class="col-1"></div>
</div>
<div class="row text-center">
    <div class="col-1"></div>
    <div class="col-2 p-3 border">id</div>
    <div class="col-2 p-3 border">title</div>
    <div class="col-2 p-3 border">body</div>
    <div class="col-2 p-3 border">author</div>
    <div class="col-2 p-3 border">date</div>
    <div class="col-1"></div>
</div>
{% endblock %}
